.slide-pane_from_bottom { 
    height: 60dvh !important;
    margin-top: 40dvh !important;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: auto !important;
}

.slide-pane__header{
    display: none;
}

@media only screen and (min-width: 767px) {
    .slide-pane_from_bottom {
      width: 50% !important;
    }
  }

  @media only screen and (min-width: 767px) {
    .slide-pane__overlay.overlay-after-open {
        display: flex;
        justify-content: center;
    }
  }  